@model MyHangman.Messages.GameMessage

<main class="game-over-grid-area">
    <header class="header">
        <p>Hello @User.Identity.Name</p>
        <div class="spacer-horizontal">

        </div>
        @Html.ActionLink("Log Off", "LogOut", "Account")
    </header>
    <section class="section-status text-section">
        <h1>@Model.Message</h1>
        @if (Model.IsWin)
        {
            <div class="btn-wrapper">
                @Html.ActionLink("Next", "BeginNewLevel", "Home", new { @class = "btn" })
            </div>
        }

        @if (Model.IsLoss)
        {
            <img class="game-over-img" src="~/Images/hangman-step-6.png" alt="Alternate Text" />
            <div class="btn-wrapper">
                @Html.ActionLink("Finish", "LogOut", "Account", null, new { @class = "btn" })
                @Html.ActionLink("Try Again", "BeginNewLevel", "Home", null, new { @class = "btn" })
                @Html.ActionLink("Leader Board", "LeaderBoard", "Home", null, new { @class = "btn" })
            </div>
        }
    </section>
</main>