@using Microsoft.AspNet.Identity

@model MyHangman.ViewModels.GameVM

@{

    ViewBag.Title = "Index";

    string path = $"~/Images/hangman-step-{@Model.NumberOfGuessesLeft}.png";
}
<main class="main-grid-area">
    <header class="header">
        <p>Hello @User.Identity.Name</p>
    </header>

    <section class="riddle-section">
        <h2>@Model.Riddle</h2>
        <h3>@Html.Partial("_HiddenAnswer")</h3>
    </section>

    <section class="hint-section">
      @Html.Partial("_Hints")
    </section>

    <section class="keyboard-section">
        @using (Html.BeginForm("GuessLetter", "Home", FormMethod.Post))
        {
            <div class="key-row">
                <input class="btn key-btn" type="submit" name="key" value="Q" />
                <input class="btn key-btn" type="submit" name="key" value="W" />
                <input class="btn key-btn" type="submit" name="key" value="E" />
                <input class="btn key-btn" type="submit" name="key" value="R" />
                <input class="btn key-btn" type="submit" name="key" value="T" />
                <input class="btn key-btn" type="submit" name="key" value="Y" />
                <input class="btn key-btn" type="submit" name="key" value="U" />
                <input class="btn key-btn" type="submit" name="key" value="I" />
                <input class="btn key-btn" type="submit" name="key" value="O" />
                <input class="btn key-btn" type="submit" name="key" value="P" />
            </div>
            <div class="key-row">
                <input class="btn key-btn" type="submit" name="key" value="A" />
                <input class="btn key-btn" type="submit" name="key" value="S" />
                <input class="btn key-btn" type="submit" name="key" value="D" />
                <input class="btn key-btn" type="submit" name="key" value="F" />
                <input class="btn key-btn" type="submit" name="key" value="G" />
                <input class="btn key-btn" type="submit" name="key" value="H" />
                <input class="btn key-btn" type="submit" name="key" value="J" />
                <input class="btn key-btn" type="submit" name="key" value="K" />
                <input class="btn key-btn" type="submit" name="key" value="L" />
            </div>
            <div class="key-row">
                <input class="btn key-btn" type="submit" name="key" value="Z" />
                <input class="btn key-btn" type="submit" name="key" value="X" />
                <input class="btn key-btn" type="submit" name="key" value="C" />
                <input class="btn key-btn" type="submit" name="key" value="V" />
                <input class="btn key-btn" type="submit" name="key" value="B" />
                <input class="btn key-btn" type="submit" name="key" value="N" />
                <input class="btn key-btn" type="submit" name="key" value="M" />
            </div>

            @Html.HiddenFor(x=>x.LevelID)
            @Html.HiddenFor(x => x.Riddle)
            @Html.HiddenFor(x => x.HiddenAnswer)
            @Html.HiddenFor(x => x.OpenAnswer)
            @Html.HiddenFor(x => x.GameScore)
            @Html.HiddenFor(x => x.GoldenCoins)
            @Html.HiddenFor(x => x.IsLoss)
            @Html.HiddenFor(x => x.IsWin)
            @Html.HiddenFor(x => x.LevelDifficulty)
            @Html.HiddenFor(x => x.NumberOfCorrectGuesses)
            @Html.HiddenFor(x => x.NumberOfGuessesLeft)
            @Html.HiddenFor(x => x.Progress)
            for (int i = 0; i < Model.Hints.Count(); i++)
            {
                @Html.HiddenFor(x => x.Hints[i].ID);
                @Html.HiddenFor(x => x.Hints[i].IsOpen);
                @Html.HiddenFor(x => x.Hints[i].OpenHint);
            }
        }
    </section>


    <section class="image-section">
        <img src=@Url.Content(path) alt="Alternate Text" />
    </section> 

    <section class="statistics-section content--left">
        <div class="statistics">
            <p>@Html.LabelFor(x=>x.GameScore): <span>@Html.DisplayFor(x=>x.GameScore)</span></p>
        </div>
        <div class="statistics">
            <p>@Html.LabelFor(x => x.GoldenCoins): <span class="gold-coins">@Html.DisplayFor(x => x.GoldenCoins)</span></p>
        </div>
        <div class="statistics">
            <p>@Html.LabelFor(x => x.LevelDifficulty): <span>@Html.DisplayFor(x => x.LevelDifficulty)</span></p>
        </div>
        <div class="statistics">
            <p> @Html.LabelFor(x => x.Progress): <span>@Html.DisplayFor(x => x.Progress)</span></p>
        </div>
    </section>
</main>